@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

:root {
    /* Room Colors*/
    --inner-room-color: #262321;

    /* Building Colors */
    --back-building-color:#1E1D3D;
    --front-building-color: #242F54;
    --third-building-color: #492559;
    --second-building-color: #332454;

    /* Desk Colors*/
    --desk-top-color: #73604B;
    --desk-shade-color: #403529;

    /* Device Colors */    
    --device-color: #FFEBDC;
    --device-screen: #262321;
    --note-book-cover: #423020; 

    /* Browser Colors */
    --browser-border: #f1f1f1;

    /* Sky Colors */
    --moon-color: #bbb;
  }
body {
    margin:0px;
    background-color: var(--inner-room-color);
    overflow: hidden;
}
.everything{
    /* Alignment*/
    position:absolute;
    bottom:0px;

    /* Sizing*/
    width:100%;

    transition: 2s linear 0s;
    transform-origin: bottom center;
}
.shadow_effect{
    /* Alignment*/
    position:absolute;
    bottom:0px;

    /* Sizing*/
    width:100%;
    height: 100vh;

    /* Others*/
    -moz-box-shadow:    inset 0 0 250px #000000;
    -webkit-box-shadow: inset 0 0 250px #000000;
    box-shadow:         inset 0 0 250px #000000;
    z-index: 9000;
    pointer-events: none;
}
.overlay{
    position: absolute;
    background-color: var(--inner-room-color);
    z-index: 100;
    bottom: 860px;
}
.vertical{
    height: 700px;
    width:20px;
    bottom: 160px;
}
.ov2{
    left:20px;
}
.ov3{
    left:40px;
}
.ov4{
    left:60px;
}
.horizontal{
    height: 200px;
    width: 100%;
}
.sky{
    /* Alignment*/
    position: absolute;
    bottom: 160px;
    /* Sizing*/
    height:700px;
    width:100%;

    /* Others*/
    z-index: 35;
    overflow: hidden;
    pointer-events: none;
}
.cloud{
    /* Alignment*/
    position: absolute;
    left:70px;
    /* Sizing*/
    width: 100px;
    height: 100px;

    /* Others*/
    background-color: white;
    border-radius: 50%;
    opacity: 0.45;
}
.cloud::after{
    /* Alignment*/
    position: absolute;
    top:50px;
    left:-70px;

    /* Sizing*/
    width: 200px;
    height: 60px;

     /* Others*/
    content:"";
    background-color: white;
    border-radius: 60px;
}
.cloud::before{
    /* Alignment*/
    position: absolute;
    left:-40px;
    top:20px;

    /* Sizing*/
    width: 70px;
    height: 70px;

    /* Others*/
    content:"";
    background-color: white;
    border-radius: 50%;
}
.c1{
    top:30px;
    right:100px;
    -webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
}
.c2{
    top:90px;
    -webkit-animation: animateCloud 45s linear infinite;
	-moz-animation: animateCloud 45s linear infinite;
	animation: animateCloud 45s linear infinite;
}
.c3{
    top:140px;
    right: 200px;
    -webkit-animation: animateCloud 50s linear infinite;
	-moz-animation: animateCloud 50s linear infinite;
	animation: animateCloud 50s linear infinite;
}
.c4{
    top:200px;
    right:360px;
    -webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
}
@-webkit-keyframes animateCloud {
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 100%;
    }
}
.window{
    /* Alignment*/
    position: absolute;
    bottom: 160px;
    left: 50%;
    margin-left: -50%;

    /* Sizing*/
    height:700px;
    width:100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    /* Others*/
    background-color: var(--inner-room-color);
    display: grid;
    grid-column-gap: 20px;
    
}
.window > .panel{
    background-color: #131226 !important;
    border-bottom: 5px solid #403B37;
    box-shadow: 0px 5px #332F2C;
}
.building{
    position: absolute;
    bottom:5px;
}
.b1{
    height: 500px;
    width: 10%;
    background-color: var(--back-building-color);
}
.b2{
    height: 325px;
    width: 10%;
    background-color: var(--front-building-color);
    left: 6%;
    z-index: 20;
}
.b3{
    height: 400px;
    width: 10%;
    background-color: var(--second-building-color);
    left: 10%;
}
.b4{
    height: 350px;
    width: 15%;
    background-color: var(--third-building-color);
    left: 25%;
}
.b5{
    height: 550px;
    width: 12%;
    background-color: var(--back-building-color);
    left: 45%;
    z-index: 20;
}
.b6{
    height: 450px;
    width: 10%;
    background-color: var(--third-building-color);
    left: 53%;
    z-index: 21;
}
.b7{
    height: 275px;
    width: 30%;
    background-color: var(--front-building-color);
    left: 48%;
    z-index: 22;
}
.b8{
    height: 400px;
    width: 10%;
    background-color: var(--second-building-color);
    left: 70%;
}
.b9{
    height: 500px;
    width: 8%;
    background-color: var(--third-building-color);
    left: 82%;
}
.b10{
    height: 200px;
    width: 30%;
    background-color: var(--back-building-color);
    left: 70%;
    z-index: 25;
}
.b11{
    height: 600px;
    width: 10%;
    background-color: var(--front-building-color);
    left: 90%;
    z-index: 24;
}
.b12{
    height: 150px;
    width: 25%;
    background-color: var(--back-building-color);
    left:12%;
    z-index: 26;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 1;
}
.item2{
    grid-column-start: 2;
    grid-column-start: 2;
}
.item3{
    grid-column-start: 3;
    grid-column-end: 3;
}
.moon{
    position: absolute;
    top:-120px;
    left:-25px;
    height: 300px;
    width: 300px;
    background-color: var(--moon-color);
    border-radius: 50%;
}
.moon:hover{
    background-color: #d9d8d0;
    cursor: pointer;
}
.desk_top{
    /* Alignment*/
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -500px;

    /* Sizing*/
    width:800px;

    /* Others*/
    border-bottom: 100px solid var(--desk-top-color);
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    z-index: 100;
}
.desk_bottom{
    /* Alignment*/
    position: absolute;
    bottom:0px;
    left: 50%;
    margin-left: -500px;

    /* Sizing*/
    width:1000px;

    /* Others*/
    height: 30px;
    background-color: var(--desk-shade-color);
    z-index: 10;
}
.computer{
    /* Alignment*/
    position: absolute;
    bottom: 145px;
    left:50%;
    margin-left: -200px;

    /* Sizing*/
    height: 250px;
    width: 400px;

    /* Others*/
    box-sizing: border-box;
    background-color: var(--device-screen);
    border: 15px solid var(--device-color);
    border-radius: 15px;
    z-index: 150;
    cursor: pointer;
}
.computer:hover{
}
.browser{
    border: 3px solid var(--browser-border);
    opacity: 0;
    height: 100%;
    box-sizing: border-box;
}
.browser_bar {
    padding: 10px;
    background: #f1f1f1;
    height: 25px;
}
.search_bar{
    display:inline-block;
    box-sizing: border-box;
    background-color: #FFFFFF;
    height:25px;
    width: 85%;
    margin-left:15px;
    vertical-align:top;
}
.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}
.browser_cross{
    height: 25px;
    width: 25px;
    position:absolute;
    right:30px;
    top:30px;
    z-index: 200;
    opacity: 0;
    cursor: pointer;
}
.browser_cross::after {
    position: absolute;;
    content: "";
    height: 25px;
    width: 2px;
    background-color: black;
    transform: rotate(45deg);
    left:13px;
}
.browser_cross::before {
    position: absolute;;
    content: "";
    height: 25px;
    width: 2px;
    background-color: black;
    transform: rotate(135deg);
    left:13px;
}
.computer_stand{
    /* Alignment*/
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom:115px;

    /* Sizing*/
    height: 30px;
    width: 20px;

    /* Others*/
    background-color: dimgray;
    z-index: 145;
}
.computer_base_1{
    /* Alignment*/
    position: absolute;
    bottom: 107px;
    left:50%;
    margin-left: -50px;

    /* Sizing*/
    width: 80px;

    /* Others*/
    border-bottom: 20px solid #262321;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 140;
}
.computer_base_2{
    /* Alignment*/
    position: absolute;
    bottom: 97px;
    left:50%;
    margin-left: -50px;
    /* Sizing*/
    height: 15px;
    width: 100px;

    /* Others*/
    background-color: #262321;
    border-radius: 10px;
    z-index: 140;
}
.keyboard{
    /* Alignment*/
    position: absolute;
    bottom:60px;
    left:50%;
    margin-left: -150px;

    /* Sizing*/
    width: 270px;

    /* Others*/
    border-bottom: 30px solid var(--device-color);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    z-index: 110;
}
.keyboard_base{
    /* Alignment*/
    position: absolute;
    bottom:58px;
    left:50%;
    margin-left: -150px;

    /* Sizing*/
    width: 300px;
    height: 4px;

    /* Others*/
    background-color:var(--desk-shade-color);
    border-radius: 10px;
    z-index: 110;
}
.mouse{
    /* Alignment*/
    position: absolute;
    bottom:47px;
    left:50%;
    margin-left: 180px;

    /* Sizing*/
    height: 45px;
    width: 30px;
    

    /* Others*/
    background-color:var(--device-color);
    transform: skewX(20deg);
    border-radius: 50%;
    border-bottom: 3px solid var(--desk-shade-color);
    box-shadow: -1px 1px var(--desk-shade-color);
    z-index: 110;
}
.phone{
    /* Alignment*/
    position: absolute;
    bottom:45px;
    left:50%;
    margin-left: 250px;

    /* Sizing*/
    height: 65px;
    width: 40px;

    /* Others*/
    background-color: var(--device-color);
    border-radius: 3px;
    transform: skewX(35deg);
    box-shadow: -1px 1px var(--desk-shade-color);
    z-index: 110;
    transition: all 0s ease 0s;
    cursor: pointer;
}
.phone_hover{
    /* Alignment*/
    position: absolute;
    bottom: 72px;
    left:50%;
    margin-left: 257px;

    /* Sizing*/
    height: 15px;
    width: 23px;

    transform: skewX(35deg);
    background-color: limegreen;
    border-radius: 5px;
    z-index: 111;
    opacity: 0;
    animation: notification;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    pointer-events: none;
}
.phone_hover::after{
    position: absolute;
    content: '';
    border-top: 6px solid limegreen;
    border-right: 5px solid transparent;
    left:4px;
    top:14px;
    pointer-events: none;
}
@keyframes notification {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
  }
.phone_speaker{
    /* Alignment*/
    margin:auto;
    margin-top:2px;

    /* Sizing*/
    height: 2px;
    width: 10px;

    /* Others*/
    background-color: var(--device-screen);
    border-radius: 10px;
    transition: all 0s ease 0s;
}
.phone_content{
    /* Alignment*/
    margin:auto;
    margin-top:2px;
    
    /* Sizing*/
    height: 50px;
    width: 33px;

    /* Others*/
    background-color: var(--device-screen);
    border-radius: 5px;
    transition: all 0s ease 0s;
}
.phone_button{
    /* Alignment*/
    margin:auto;
    margin-top:2px;
    
    /* Sizing*/
    height: 5px;
    width: 5px;

    /* Others*/
    background-color: var(--device-screen);
    border-radius: 50%;
    transition: all 0s ease 0s;
}
.phone_exit{
    height: 100vh;
    width: 100vw;
    position:absolute;
    z-index: 200;
    pointer-events: none;   
    background-color: black;
    opacity: 0;
}
.notebook{
    /* Alignment*/
    position: absolute;
    bottom:40px;
    left:50%;
    margin-left: -300px;

    /* Sizing*/
    height: 80px;
    width: 80px;

    /* Others*/
    background-color: var(--note-book-cover);
    border-radius: 3px;
    transform: skewX(-35deg);
    z-index: 110;
}
.notebook_top{
    z-index: 120;
    bottom:48px;
}
.notebook_pages1{
    bottom:47px;
    background-color: white;
    z-index: 119;
    width: 79px;
}
.notebook_pages2{
    bottom:46px;
    background-color: white;
    z-index: 118;
    width: 79px;
    
}
.notebook_pages3{
    bottom:45px;
    background-color: white;
    z-index: 117;
    width: 79px;
}
.notebook_pages4{
    bottom:44px;
    background-color: white;
    z-index: 116;
    width: 79px;
}
.notebook_pages5{
    bottom:43px;
    background-color: white;
    z-index: 115;
    width: 79px;
}
.notebook_pages6{
    bottom:42px;
    background-color: white;
    z-index: 114;
    width: 79px;
}
.notebook_edge{
    /* Alignment*/
    position: absolute;
    bottom:40px;
    left:50%;
    margin-left: -327px;

    /* Sizing*/
    height: 10px;
    width: 2px;

    /* Others*/
    background-color: var(--note-book-cover);
    border-radius: 3px 0px 0px 3px;
    z-index: 121;
}