@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

:root {
    --main-bg-color: coral; 

    /* Building Colors*/
    --back-building-color:#1E1D3D;
    --front-building-color: #242F54;
    --third-building-color: #492559;
    --second-building-color: #332454;
  }
body {
    margin:0px;
    background-color:#262321;
}
.everything{
    /* Alignment*/
    position:absolute;
    bottom:0px;

    /* Sizing*/
    width:100%;
}
.shadow_effect{
    /* Alignment*/
    position:absolute;
    bottom:0px;

    /* Sizing*/
    width:100%;
    height: 100vh;

    /* Others*/
    -moz-box-shadow:    inset 0 0 250px #000000;
    -webkit-box-shadow: inset 0 0 250px #000000;
    box-shadow:         inset 0 0 250px #000000;
    z-index: 9000;
}
.overlay{
    position: absolute;
    background-color: #262321;
    z-index: 100;
}
.vertical{
    height: 700px;
    width:20px
}
.ov2{
    left:20px;
}
.ov3{
    left:40px;
}
.ov4{
    left:60px;
}
.horizontal{
    top: -200px;
    height: 200px;
    width: 100%;
}
.sky{
    /* Alignment*/
    position: absolute;

    /* Sizing*/
    height:700px;
    width:100%;

    /* Others*/
    z-index: 35;
    overflow: hidden;
}
.cloud{
    /* Alignment*/
    position: absolute;
    left:70px;
    /* Sizing*/
    width: 100px;
    height: 100px;

    /* Others*/
    background-color: white;
    border-radius: 50%;
    opacity: 0.45;
}
.cloud::after{
    /* Alignment*/
    position: absolute;
    top:50px;
    left:-70px;

    /* Sizing*/
    width: 200px;
    height: 60px;

     /* Others*/
    content:"";
    background-color: white;
    border-radius: 60px;
}
.cloud::before{
    /* Alignment*/
    position: absolute;
    left:-40px;
    top:20px;

    /* Sizing*/
    width: 70px;
    height: 70px;

    /* Others*/
    content:"";
    background-color: white;
    border-radius: 50%;
}
.c1{
    top:30px;
    right:100px;
    -webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
}
.c2{
    top:90px;
    -webkit-animation: animateCloud 45s linear infinite;
	-moz-animation: animateCloud 45s linear infinite;
	animation: animateCloud 45s linear infinite;
}
.c3{
    top:140px;
    right: 200px;
    -webkit-animation: animateCloud 50s linear infinite;
	-moz-animation: animateCloud 50s linear infinite;
	animation: animateCloud 50s linear infinite;
}
.c4{
    top:200px;
    right:360px;
    -webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
}
@-webkit-keyframes animateCloud {
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 100%;
    }
}
.window{
    /* Alignment*/
    position: relative;
    margin-bottom: 30px;
    left: 50%;
    margin-left: -50%;

    /* Sizing*/
    height:700px;
    width:100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    /* Others*/
    background-color: #262321;
    display: grid;
    grid-column-gap: 20px;
    
}
.window > .panel{
    background-color: #1A1126;
    background-color: #131226 !important;
    border-bottom: 5px solid #403B37;
    box-shadow: 0px 5px #332F2C;
}
.building{
    position: absolute;
    bottom:5px;
}
.b1{
    height: 500px;
    width: 10%;
    background-color: var(--back-building-color);
}
.b2{
    height: 325px;
    width: 10%;
    background-color: var(--front-building-color);
    left: 6%;
    z-index: 20;
}
.b3{
    height: 400px;
    width: 10%;
    background-color: var(--second-building-color);
    left: 10%;
}
.b4{
    height: 350px;
    width: 15%;
    background-color: var(--third-building-color);
    left: 25%;
}
.b5{
    height: 550px;
    width: 12%;
    background-color: var(--back-building-color);
    left: 45%;
    z-index: 20;
}
.b6{
    height: 450px;
    width: 10%;
    background-color: var(--third-building-color);
    left: 53%;
    z-index: 21;
}
.b7{
    height: 275px;
    width: 30%;
    background-color: var(--front-building-color);
    left: 48%;
    z-index: 22;
}
.b8{
    height: 400px;
    width: 10%;
    background-color: var(--second-building-color);
    left: 70%;
}
.b9{
    height: 500px;
    width: 8%;
    background-color: var(--third-building-color);
    left: 82%;
}
.b10{
    height: 200px;
    width: 30%;
    background-color: var(--back-building-color);
    left: 70%;
    z-index: 25;
}
.b11{
    height: 600px;
    width: 10%;
    background-color: var(--front-building-color);
    left: 90%;
    z-index: 24;
}
.b12{
    height: 150px;
    width: 25%;
    background-color: var(--back-building-color);
    left:12%;
    z-index: 26;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 1;
}
.item2{
    grid-column-start: 2;
    grid-column-start: 2;
}
.item3{
    grid-column-start: 3;
    grid-column-end: 3;
}
.moon{
    position: absolute;
    top:-120px;
    left:-25px;
    height: 300px;
    width: 300px;
    background-color: #bbb;
    border-radius: 50%;
}
.desk_top{
    /* Alignment*/
    position: relative;
    top: 0px;
    left: 50%;
    margin-left: -500px;

    /* Sizing*/
    width:800px;

    /* Others*/
    border-bottom: 100px solid #73604B;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    z-index: 100;
}
.desk_bottom{
    /* Alignment*/
    position: relative;
    top:0px;
    left: 50%;
    margin-left: -500px;

    /* Sizing*/
    width:1000px;

    /* Others*/
    height: 30px;
    background-color: #403529;
    z-index: 10;
}
.computer{
    /* Alignment*/
    position: absolute;
    bottom: 15px;
    left:50%;
    margin-left: -200px;

    /* Sizing*/
    height: 250px;
    width:400px;

    /* Others*/
    background-color: #FFEBDC;
    border-radius: 15px;
}
.computer_content{
    /* Alignment*/
    margin:auto;
    margin-top:15px;

    /* Sizing*/
    height: 220px;
    width: 370px;
    
    /* Others*/
    background-color: slategrey;
    border-radius: 15px;
}
.computer_stand{
    /* Alignment*/
    position: absolute;
    left: 50%;
    margin-left: -10px;
    margin-top:15px;

    /* Sizing*/
    height: 30px;
    width: 20px;

    /* Others*/
    background-color: dimgray;
    z-index: 5;
}
.computer_base_1{
    /* Alignment*/
    position: absolute;
    bottom: -38px;
    left:50%;
    margin-left: -50px;

    /* Sizing*/
    width: 80px;

    /* Others*/
    border-bottom: 20px solid #262321;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.computer_base_2{
    /* Alignment*/
    margin: auto;
    margin-top: 47px;
    /* Sizing*/
    height: 15px;
    width: 100px;

    /* Others*/
    background-color: #262321;
    border-radius: 10px;
}
.keyboard{
    /* Alignment*/
    position: absolute;
    top:40px;
    left:50%;
    margin-left: -150px;

    /* Sizing*/
    width: 270px;

    /* Others*/
    border-bottom: 30px solid #FFEBDC;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.keyboard_base{
    /* Alignment*/
    position: absolute;
    top:68px;
    left:50%;
    margin-left: -150px;

    /* Sizing*/
    width: 300px;
    height: 4px;

    /* Others*/
    background-color:#403529;
    border-radius: 10px;
}
.mouse{
    /* Alignment*/
    position: absolute;
    top:35px;
    left:50%;
    margin-left: 180px;

    /* Sizing*/
    height: 45px;
    width: 30px;
    

    /* Others*/
    background-color: #FFEBDC;
    transform: skewX(20deg);
    border-radius: 50%;
    border-bottom: 3px solid #403529;
    box-shadow: -1px 1px #403529;
}
.phone{
    /* Alignment*/
    position: absolute;
    top:20px;
    left:50%;
    margin-left: 250px;

    /* Sizing*/
    height: 65px;
    width: 40px;

    /* Others*/
    background-color: #FFEBDC;
    border-radius: 3px;
    transform: skewX(35deg);
    box-shadow: -1px 1px #403529;
}
.phone_speaker{
    /* Alignment*/
    margin:auto;
    margin-top:2px;

    /* Sizing*/
    height: 2px;
    width: 10px;

    /* Others*/
    background-color: slategrey;
    border-radius: 5px;
}
.phone_content{
    /* Alignment*/
    margin:auto;
    margin-top:2px;
    
    /* Sizing*/
    height: 50px;
    width: 33px;

    /* Others*/
    background-color: slategrey;
    border-radius: 5px;
}
.phone_button{
    /* Alignment*/
    margin:auto;
    margin-top:2px;
    
    /* Sizing*/
    height: 5px;
    width: 5px;

    /* Others*/
    background-color: slategrey;
    border-radius: 5px;
}
.notebook{
    /* Alignment*/
    position: absolute;
    top:10px;
    left:50%;
    margin-left: -300px;

    /* Sizing*/
    height: 80px;
    width: 80px;

    /* Others*/
    background-color: #423020;
    border-radius: 3px;
    transform: skewX(-35deg);
}
.notebook_top{
    top:2px;
    z-index: 40;
}
.notebook_pages1{
    top:3px;
    background-color: white;
    z-index: 39;
    width: 79px;
}
.notebook_pages2{
    top:4px;
    background-color: white;
    z-index: 39;
    width: 79px;
}
.notebook_pages3{
    top:5px;
    background-color: white;
    z-index: 39;
    width: 79px;
}
.notebook_pages4{
    top:6px;
    background-color: white;
    z-index: 39;
    width: 79px;
}
.notebook_pages5{
    top:7px;
    background-color: white;
    z-index: 39;
    width: 79px;
}
.notebook_pages6{
    top:8px;
    background-color: white;
    z-index: 39;
    width: 79px;
}
.notebook_edge{
    /* Alignment*/
    position: absolute;
    top:79px;
    left:50%;
    margin-left: -327px;

    /* Sizing*/
    height: 10px;
    width: 2px;

    /* Others*/
    background-color: #423020;
    border-radius: 3px 0px 0px 3px;
    z-index: 40;
}